.header {
    border-bottom: 1px solid #ececec;
    /* width: 1600px; */
  }
  
  .logo{
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue);
  }
  
  .header .container {
    display: flex;
    align-items: center;
  }
  
  .headr-logo {
    margin-right: 93px;
  }
  .headr-logo--colortext {
    color: var(--primery-text-color);
  }
  
  .menu-list{
    display: flex;
    align-items: center;
  }
  
  .menu-list__item {
    display: block;
  }
  
  .menu-list__item:not(:last-child) {
    margin-right: 50px;
  }
  
  .menu-list__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-contact__item + .menu-contact__item {
    margin-left: 34px;
  }
  
  .menu-list__link--current::after {
    content: "";
    width: 100%;
    height: 4px;
  
    position: absolute;
    bottom: 0;
    display: block;
    background: var(--blue);
    border-radius: 2px;
  }
  
  .headr-link:hover,
  .headr-link:focus {
    color: var(--blue);
  }
  .menu-list__link--current {
    color: var(--blue);
  }
  .menu-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .menu-contact__link {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: var(--grey);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-contact__link:focus,
  .menu-contact__link:hover {
    color: var(--blue);
  }
  
  
  .menu-contact__icon{
    margin-right: 6px;
    fill: var(--grey);
    color: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-contact__link:focus .menu-contact__icon,
  .menu-contact__link:hover .menu-contact__icon {
    fill: var(--blue-button);
  }
  
  .hmenu-contact__link:focus .menu-contact__icon,
  .hmenu-contact__link:hover .menu-contact__icon {
    fill: var(--blue-button);
  }
  