.our-works {
    padding-top: 0;
  }
  .our-works-main-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    margin-bottom: 50px;
  }
  
  .our-works-list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  
  .our-works-link:not(:last-child) {
    margin-right: 30px;
  }
  
  .our-works-div {
    position: relative;
  }
  
  .our-works-top-text {
    position: absolute;
    padding-top: 27px;
    padding-right: 82px;
    padding-bottom: 27px;
    padding-left: 83px;
    width: 370px;
    height: 70px;
    bottom: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
  }
  